
<ion-content>
  
  
  <div class="ion-padding">
  <ion-app>
    
      <ion-content fullscreen>
        <ion-card *ngFor="let dado of items">
       <!-- <img src={{dado.imagem}} />  -->
          <ion-card-header>
            <ion-card-subtitle>{{dado.nome}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
              {{dado.descricao}}
          </ion-card-content>
          <ion-card-content>
              {{dado.nome}}
          </ion-card-content>
          <ion-card-content>
             R$: {{dado.valor}}{{dado.preco}}
         </ion-card-content>
         <div class="posicao-botao"> 
          <ion-button color="secondary" (click)="click(dado)">Adicionar</ion-button>
        </div>
        </ion-card>
      
      </ion-content>
    </ion-app>
   
</div>
</ion-content>
