.menu{
    display: flex;
    justify-content: space-around;
    ion-icon {
        width: 10vw;
        height: 10vh;
    }
    h1 {
        text-align: center;
        text-transform: uppercase;
    }
}
ion-img {
  padding: 0.5em;
}
ion-label {
  padding-left: 0.5em;
}
.total {
  display: flex;
  flex-direction: column;
  width: 40vw;

  margin-left: 280px;
  margin-top: 5vw;
  margin-bottom: 5vw;

  border: solid 1px gray;
  h2 {
    text-align: center;
  }
  ion-input {
    width: 40%;
    margin: auto;
  }
}
.btn {
  display: flex;
  justify-content: space-around;
}
