<ion-header>
  <ion-toolbar>
    <ion-title>
      HOME - Grupo 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="card_produto1" *ngFor="let item of items">
      <img src="/assets/shapes.svg" alt="Imagem do produto" />
      <ion-card-header>
        <ion-card-title>{{ item.nome }}</ion-card-title>
        <ion-card-subtitle>{{ item.descricao }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>{{ item.valor }}</p>
        <ion-button color="danger">Comprar</ion-button>      </ion-card-content>
    </ion-card>

    
</ion-content>
